<!DOCTYPE html>

<html>

    <head>
        <title>Image Search</title>
        <link href="/main.css" rel="stylesheet" type="text/css">
    </head>

    <header>
        <h2>Image Search</h2>
    </header>

    <body>
        <div>
          <p>This has been created to fulfill the `Image Search Abstraction Layer` assignment from <a href="http://www.freecodecamp.com">freecodecamp</a> by <a href="http://adferras.github.io">Adam Ferras</a>.</p>
        </div>
        <div class='links'>
            <p>This app has been deployed to the following locations:</p>
            <ul>
                <li><a href='http://image-search-1690.herokuapp.com'>Heroku</a></>
            </ul>
        </div>
        <div class='stories'>
            <p>This app fulfills the following user stories</p>
            <ul>
              <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
              <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
              <li>I can get a list of the most recently submitted search strings.</li>
            </ul>
        </div>

        <div class='examples'>
            <p>Example Usage:</p>
            <p class='code'>https://image-search-1690.herokuapp.com/api/imagesearch/denver%20broncos?offset=10</p>

            <p>Example Output:</p>
            <p class='code'>[{"url":"http://i.imgur.com/BMSb8fA.jpg","snippet":"Wes Welker, of the Denver Broncos, correctly picked the Kentucky Derby winner. As he left he handed out $100 bills like candy.","thumbnail":"http://i.imgur.com/BMSb8fAs.jpg","context":"http://imgur.com/gallery/BMSb8fA"}]</p>
        </div>
    </body>

</html>
